.GreenPhon {
    height: 54px;
    width: 450px;
    margin-left: 50px;
    transform: translateY(-55px);
}

.box {
    height: 22px;
    width: 30px;
    margin-left: 66px;
    transform: translateY(-103px);
    height: 31px;
    width: 30px;
}

.boxText {
    position: absolute;
    padding-left: 111px;
    height: 16px;
    color: #0A6A60;
    font-size: 14px;
    margin-top: -130px;
    font-weight: 500;
}