.iconDelivery {
    height: 22px;
    width: 30px;
    margin-left: 70px;
    transform: translateY(-43px);
}

.deliveryText {
    padding-left: 111px;
    height: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #0A6A60;
    margin-top: -65px;
    font-weight: 500;
}

.greenPhon {
    height: 54px;
    width: 450px;
    margin-left: 50px;
    margin-top: -22px;
}