.name {
    height: 16px;
    width: 29px;
    font-size: 14px;
    color: #474747;
    position: absolute;
    padding-top: 382px;
    padding-left: 50px;
}

.userName {
    height: 35px;
    width: 215px;
    margin-top: 415px;
    margin-left: 50px;
    border: #D8D8D8;
    border-radius: 5px;
}

.phone {
    height: 16px;
    width: 58px;
    font-size: 14px;
    line-height: 16.41px;
    color: #474747;
    margin-left: 285px;
    transform: translateY(-65px);
}

.userPhone {
    height: 35px;
    width: 215px;
    border: #D8D8D8;
    border-radius: 5px;
    position: absolute;
    transform: translate(285px, -79px);
}

.payment {
    color: #474747;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    width: 102px;
    position: absolute;
    margin-left: 50px;
    transform: translateY(-33px);
}

.options {
    height: 35px;
    width: 215px;
    border: #D8D8D8;
    border-radius: 5px;
    margin-left: 50px;
}

.delivery {
    height: 16px;
    width: 114px;
    color: #474747;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    margin-left: 285px;
    transform: translateY(-66px);
}

.deliveryOptions {
    height: 35px;
    width: 215px;
    border: #D8D8D8;
    border-radius: 5px;
    position: absolute;
    transform: translate(285px, -79px);
}